Os valores de vl_dolarfob separados por data anual, trimestral e mensal (data_exportacao)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/gold/exportacao_gold.csv", low_memory=False)
df

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm,cd_unidade,cd_via,sg_ufmun,data_exportacao_mun,cd_sh4,cd_mun
0,rj,107365.0,5,20,2023-03-01,china,aeroporto internacional de viracopos,outras partes de bombas para líquidos,quilograma liquido,aerea,NaN,NaN,NaN,NaN
1,sp,0.0,0,84,2023-12-01,suécia,porto de santos,arruelas de pressão e outras arruelas de segur...,quilograma liquido,maritima,NaN,NaN,NaN,NaN
2,rs,2.0,2,758,2023-04-01,angola,aeroporto internacional de sao paulo/guarulhos,outras partes de aparelhos para filtrar ou dep...,quilograma liquido,aerea,NaN,NaN,NaN,NaN
3,rj,1.0,1,275,2023-05-01,argentina,são borja,"outras antenas e refletores de antenas, e suas...",quilograma liquido,rodoviaria,NaN,NaN,NaN,NaN
4,mg,2.0,0,9,2023-10-01,argentina,são borja,"rolamentos de roletes cilíndricos, de carga ra...",numero (unidade),rodoviaria,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21046225,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos
21046226,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos
21046227,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos
21046228,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos
21046229,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos

In [3]:
df_exp = df[['data_exportacao', 'vl_dolarfob']].copy()
df_exp['data_exportacao'] = pd.to_datetime(df_exp['data_exportacao'], errors='coerce')
df_exp['ano'] = df_exp['data_exportacao'].dt.year
df_exp['trimestre'] = df_exp['data_exportacao'].dt.quarter
df_exp['mes'] = df_exp['data_exportacao'].dt.month

In [4]:
df.to_csv('/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/gold/agreg_exportacao/dt_vlfob.csv', index=False)

In [29]:
# Convertendo a coluna de data e criando ano/mês
df['data_exportacao'] = pd.to_datetime(df['data_exportacao'])
df['ano_mes'] = df['data_exportacao'].dt.to_period('M')

# Agregando os dados por ano/mês
df_resumo = df.groupby('ano_mes', as_index=False)['vl_dolarfob'].sum()
df_resumo['ano_mes'] = df_resumo['ano_mes'].astype(str)
df_resumo

    ano_mes  vl_dolarfob
0   2023-01  22796014477
1   2023-02  20241628657
2   2023-03  32822911866
3   2023-04  27100302410
4   2023-05  32666140787
5   2023-06  29600309149
6   2023-07  28300073730
7   2023-08  31101089774
8   2023-09  28713085056
9   2023-10  29681867318
10  2023-11  27886116219
11  2023-12  28786226565
12  2024-01  26702655353
13  2024-02  23348254025
14  2024-03  27657419417
15  2024-04  30327524963
16  2024-05  30190264650
17  2024-06  28731639979
18  2024-07  30841394890
19  2024-08  28736329972
20  2024-09  28471402288
21  2024-10  29300866189
22  2024-11  27857365197
23  2024-12  24881044787

In [8]:
df['data_exportacao'] = pd.to_datetime(df['data_exportacao'])
df['ano'] = df['data_exportacao'].dt.year

In [10]:
df_ano = df.groupby('ano')['vl_dolarfob'].sum().reset_index()

In [11]:
# Ordenar por ano
df_ano = df_ano.sort_values('ano')

# Variação real
df_ano['variacao_real'] = df_ano['vl_dolarfob'].diff()

# Variação percentual
df_ano['variacao_percentual'] = df_ano['vl_dolarfob'].pct_change() * 100

In [14]:
df_ano

      ano   vl_dolarfob  variacao_real  variacao_percentual
0  2023.0  339695766008            NaN                  NaN
1  2024.0  337046161710  -2.649604e+09            -0.779993