Os valores de vl_dolarfob separados por data anual, trimestral e mensal (data_exportacao_mun)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/gold/exportacao_gold.csv", low_memory=False)
df

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm,cd_unidade,cd_via,sg_ufmun,data_exportacao_mun,cd_sh4,cd_mun
0,rj,107365.0,5,20,2023-03-01,china,aeroporto internacional de viracopos,outras partes de bombas para líquidos,quilograma liquido,aerea,NaN,NaN,NaN,NaN
1,sp,0.0,0,84,2023-12-01,suécia,porto de santos,arruelas de pressão e outras arruelas de segur...,quilograma liquido,maritima,NaN,NaN,NaN,NaN
2,rs,2.0,2,758,2023-04-01,angola,aeroporto internacional de sao paulo/guarulhos,outras partes de aparelhos para filtrar ou dep...,quilograma liquido,aerea,NaN,NaN,NaN,NaN
3,rj,1.0,1,275,2023-05-01,argentina,são borja,"outras antenas e refletores de antenas, e suas...",quilograma liquido,rodoviaria,NaN,NaN,NaN,NaN
4,mg,2.0,0,9,2023-10-01,argentina,são borja,"rolamentos de roletes cilíndricos, de carga ra...",numero (unidade),rodoviaria,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21046225,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos
21046226,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos
21046227,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos
21046228,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos
21046229,NaN,NaN,4,72,NaN,tailândia,NaN,NaN,NaN,NaN,sp,2024-11-01,queijos e requeijão,santos

In [3]:
df_mun = df[['data_exportacao_mun', 'vl_dolarfob']].copy()
df_mun['data_exportacao_mun'] = pd.to_datetime(df_mun['data_exportacao_mun'], errors='coerce')
df_mun['ano'] = df_mun['data_exportacao_mun'].dt.year
df_mun['trimestre'] = df_mun['data_exportacao_mun'].dt.quarter
df_mun['mes'] = df_mun['data_exportacao_mun'].dt.month

In [4]:
df_mun

         data_exportacao_mun  vl_dolarfob     ano  trimestre   mes
0                        NaT           20     NaN        NaN   NaN
1                        NaT           84     NaN        NaN   NaN
2                        NaT          758     NaN        NaN   NaN
3                        NaT          275     NaN        NaN   NaN
4                        NaT            9     NaN        NaN   NaN
...                      ...          ...     ...        ...   ...
21046225          2024-11-01           72  2024.0        4.0  11.0
21046226          2024-11-01           72  2024.0        4.0  11.0
21046227          2024-11-01           72  2024.0        4.0  11.0
21046228          2024-11-01           72  2024.0        4.0  11.0
21046229          2024-11-01           72  2024.0        4.0  11.0

[21046230 rows x 5 columns]

In [5]:
df.to_csv('/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/gold/agreg_exportacao/dt_vlfob_mun.csv', index=False)