Exportações por Estado (UF) e Município

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/gold/exportacao_gold.csv", low_memory=False)

In [3]:
df.head()

,sg_uf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm,cd_unidade,cd_via,cd_mun
0,rj,107365.0,5,20,2023-03-01,china,aeroporto internacional de viracopos,outras partes de bombas para líquidos,quilograma liquido,aerea,NaN
1,sp,0.0,0,84,2023-12-01,suécia,porto de santos,arruelas de pressão e outras arruelas de segur...,quilograma liquido,maritima,NaN
2,rs,2.0,2,758,2023-04-01,angola,aeroporto internacional de sao paulo/guarulhos,outras partes de aparelhos para filtrar ou dep...,quilograma liquido,aerea,NaN
3,rj,1.0,1,275,2023-05-01,argentina,são borja,"outras antenas e refletores de antenas, e suas...",quilograma liquido,rodoviaria,NaN
4,mg,2.0,0,9,2023-10-01,argentina,são borja,"rolamentos de roletes cilíndricos, de carga ra...",numero (unidade),rodoviaria,NaN

In [8]:
export_por_uf_mun = (
    df.groupby(['sg_uf', 'cd_mun'], as_index=False)
    .agg({
        'vl_dolarfob': 'sum',
        'kg_liquido': 'sum'
    })
    .sort_values('vl_dolarfob', ascending=False)
)

export_por_uf_mun['vl_dolarfob_formatado'] = export_por_uf_mun['vl_dolarfob'].apply(lambda x: f"${x:,.2f}")

In [10]:
export_por_uf_mun[['sg_uf', 'cd_mun', 'kg_liquido', 'vl_dolarfob_formatado']]

     sg_uf                        cd_mun    kg_liquido vl_dolarfob_formatado
2059    sc                        itajaí  112018041460   $185,428,869,585.00
1421    pr                     paranaguá  107207638083   $105,824,491,032.00
1573    rj                rio de janeiro  117005435060    $85,304,207,735.00
499     mg                         araxá    2794054398    $69,644,271,542.00
2613    sp         são bernardo do campo    6844940299    $68,899,732,431.00
...    ...                           ...           ...                   ...
876     mg                     teixeiras           138                $27.00
2617    sp        são josé da bela vista             0                $25.00
753     mg                  olhos-d'água           140                $20.00
819     mg  santa bárbara do monte verde           266                $12.00
225     ba                várzea da roça             0                 $6.00

[2708 rows x 4 columns]

In [12]:
export_por_uf_mun.to_csv(
    "/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/gold/agreg_exportacao/exp_uf_mun.csv",
    index=False
)