In [4]:
import pandas as pd
# Caminho do arquivo
caminho_arquivo = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\bronze\exportacao_mun_2024.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df = pd.read_csv(caminho_arquivo, sep=',')
# Exibir as primeiras linhas do DataFrame
df.head()

,cd_sh4,cd_pais,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun
0,8708,158,mg,3106705,3346,97359,2024-02-01
1,1516,845,sp,3425904,349090,541361,2024-09-01
2,8536,158,sc,4208906,1711,20706,2024-07-01
3,4010,63,sp,3452205,4586,176026,2024-08-01
4,701,476,sc,4216206,330,274,2024-12-01

In [6]:
# Caminho do arquivo
caminho_arquivo = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\landing\NCM_SH.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df = pd.read_csv(caminho_arquivo, sep=';',  encoding='latin1') #processo de transformar dados em um formato específico para permitir que esses dados sejam armazenados ou transmitidos de forma eficiente
# Exibir as primeiras linhas do DataFrame
df.head()

,CO_SH6,NO_SH6_POR,NO_SH6_ESP,NO_SH6_ING,CO_SH4,NO_SH4_POR,NO_SH4_ESP,NO_SH4_ING,CO_SH2,NO_SH2_POR,NO_SH2_ESP,NO_SH2_ING,CO_NCM_SECROM,NO_SEC_POR,NO_SEC_ESP,NO_SEC_ING
0,10110,"Animais vivos das espécies cavalar, asinina e ...","Caballos y asnos, reproductores de raza pura",Pure-bred breeding horses and asses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
1,10111,"Cavalos reprodutores, de raça pura",Caballos reproductores de raza pura,Pure-bred breeding horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
2,10119,"Outros cavalos, vivos","Demás caballos, vivos",Other live horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
3,10120,Asininos e muares vivos,"Asnos, mulos y burdéganos, vivos","Asses, mules and hinnies (live)",101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
4,10121,Cavalos reprodutores de raça pura,Caballos de raza selecta para reproducción,Pure-bred breeding horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products

In [7]:
# Caminho dos arquivos
arquivo_mun = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\bronze\exportacao_mun_2024.csv'
arquivo_ncm_sh = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\landing\NCM_SH.csv'

# Carregar o arquivo principal que contém a coluna cd_pais
df = pd.read_csv(arquivo_mun, sep=',', encoding='latin1')

# Carregar o arquivo que contém os códigos e nomes dos países
df_ncm_sh = pd.read_csv(arquivo_ncm_sh, sep=';', encoding='latin1')

# Garantir que cd_sh4 seja string
df['cd_sh4'] = df['cd_sh4'].astype(str)

# Garantir que CO_SH4 seja string
df_ncm_sh['CO_SH4'] = df_ncm_sh['CO_SH4'].astype(str)

# Fazer o merge para substituir os códigos pelos nomes dos países
df = df.merge(df_ncm_sh, left_on='cd_sh4', right_on='CO_SH4', how='left')

# Exibir as primeiras linhas para verificar se deu certo
df.head()

,cd_sh4,cd_pais,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,CO_SH6,NO_SH6_POR,NO_SH6_ESP,...,NO_SH4_ESP,NO_SH4_ING,CO_SH2,NO_SH2_POR,NO_SH2_ESP,NO_SH2_ING,CO_NCM_SECROM,NO_SEC_POR,NO_SEC_ESP,NO_SEC_ING
0,8708,158,mg,3106705,3346,97359,2024-02-01,870810,"Pára-choques e suas partes, para veículos auto...","Parachoques ""paragolpes, defensas"" y sus parte...",...,Partes y accesorios de vehículos automóviles d...,Parts and accessories of the motor vehicles of...,87,"Veículos automóveis, tratores, ciclos e outros...","Vehículos automóviles, tractores, otros, sus p...",Vehicles other than railway or tramway rolling...,XVII,Material de transporte,Material de transporte,"Vehicles, aircraft, vessels and associated tra..."
1,8708,158,mg,3106705,3346,97359,2024-02-01,870821,"Cintos de segurança, para veículos automóveis ...",Cinturones de seguridad para protección de per...,...,Partes y accesorios de vehículos automóviles d...,Parts and accessories of the motor vehicles of...,87,"Veículos automóveis, tratores, ciclos e outros...","Vehículos automóviles, tractores, otros, sus p...",Vehicles other than railway or tramway rolling...,XVII,Material de transporte,Material de transporte,"Vehicles, aircraft, vessels and associated tra..."
2,8708,158,mg,3106705,3346,97359,2024-02-01,870822,"Pára-brisas dianteiros (pára-brisas), vidros t...","Parabrisas delanteros, ventanillas traseras y ...",...,Partes y accesorios de vehículos automóviles d...,Parts and accessories of the motor vehicles of...,87,"Veículos automóveis, tratores, ciclos e outros...","Vehículos automóviles, tractores, otros, sus p...",Vehicles other than railway or tramway rolling...,XVII,Material de transporte,Material de transporte,"Vehicles, aircraft, vessels and associated tra..."
3,8708,158,mg,3106705,3346,97359,2024-02-01,870829,Outras partes e acessórios de carroçarias (inc...,Partes y accesorios de carrocerías de tractore...,...,Partes y accesorios de vehículos automóviles d...,Parts and accessories of the motor vehicles of...,87,"Veículos automóveis, tratores, ciclos e outros...","Vehículos automóviles, tractores, otros, sus p...",Vehicles other than railway or tramway rolling...,XVII,Material de transporte,Material de transporte,"Vehicles, aircraft, vessels and associated tra..."
4,8708,158,mg,3106705,3346,97359,2024-02-01,870830,"Freios e servo-freios, suas partes, para veícu...",Frenos y servofrenos; sus partes,...,Partes y accesorios de vehículos automóviles d...,Parts and accessories of the motor vehicles of...,87,"Veículos automóveis, tratores, ciclos e outros...","Vehículos automóviles, tractores, otros, sus p...",Vehicles other than railway or tramway rolling...,XVII,Material de transporte,Material de transporte,"Vehicles, aircraft, vessels and associated tra..."

In [8]:
print(df.columns)

Index(['cd_sh4', 'cd_pais', 'sg_ufmun', 'cd_mun', 'kg_liquido', 'vl_dolarfob',
       'data_exportacao_mun', 'CO_SH6', 'NO_SH6_POR', 'NO_SH6_ESP',
       'NO_SH6_ING', 'CO_SH4', 'NO_SH4_POR', 'NO_SH4_ESP', 'NO_SH4_ING',
       'CO_SH2', 'NO_SH2_POR', 'NO_SH2_ESP', 'NO_SH2_ING', 'CO_NCM_SECROM',
       'NO_SEC_POR', 'NO_SEC_ESP', 'NO_SEC_ING'],
      dtype='object')

In [9]:
df = df.drop(columns=['cd_sh4', 'CO_SH6', 'NO_SH6_POR', 'NO_SH6_ESP',
       'NO_SH6_ING', 'CO_SH4', 'NO_SH4_ESP', 'NO_SH4_ING',
       'CO_SH2', 'NO_SH2_POR', 'NO_SH2_ESP', 'NO_SH2_ING', 'CO_NCM_SECROM',
       'NO_SEC_POR', 'NO_SEC_ESP', 'NO_SEC_ING'])
df.head()

,cd_pais,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR
0,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...
1,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...
2,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...
3,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...
4,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...

In [10]:
arquivo_pais = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\landing\PAIS.csv'

# Carregar o arquivo que contém os códigos e nomes dos países
df_paises = pd.read_csv(arquivo_pais, sep=';', encoding='latin1')

# Garantir que cd_pais seja string
df1 = df['cd_pais'] = df['cd_pais'].astype(str)

# Garantir que CO_PAIS seja string
df_paises['CO_PAIS'] = df_paises['CO_PAIS'].astype(str)

# Fazer o merge para substituir os códigos pelos nomes dos países
df1 = df.merge(df_paises, left_on='cd_pais', right_on='CO_PAIS', how='left')

# Exibir as primeiras linhas para verificar se deu certo
df1.head()

,cd_pais,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,158,152,CHL,Chile,Chile,Chile
1,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,158,152,CHL,Chile,Chile,Chile
2,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,158,152,CHL,Chile,Chile,Chile
3,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,158,152,CHL,Chile,Chile,Chile
4,158,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,158,152,CHL,Chile,Chile,Chile

In [13]:
print(df1.columns)

Index(['cd_pais', 'sg_ufmun', 'cd_mun', 'kg_liquido', 'vl_dolarfob',
       'data_exportacao_mun', 'NO_SH4_POR', 'CO_PAIS', 'CO_PAIS_ISON3',
       'CO_PAIS_ISOA3', 'NO_PAIS', 'NO_PAIS_ING', 'NO_PAIS_ESP'],
      dtype='object')

In [14]:
df2 = df1.drop(columns=['cd_pais', 'CO_PAIS', 'CO_PAIS_ISON3',
       'CO_PAIS_ISOA3', 'NO_PAIS_ING', 'NO_PAIS_ESP'])
df2.head()

,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR,NO_PAIS
0,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile
1,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile
2,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile
3,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile
4,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile

In [22]:
caminho_uf_mun = r'\\wsl$\Ubuntu\home\edcarlos\work_environment\datalake\landing\UF_MUN.csv'
df_uf_mun = pd.read_csv(caminho_uf_mun, sep=";", encoding="latin1")

# Exibir as primeiras linhas do DataFrame
df_uf_mun.head()

   CO_MUN_GEO                  NO_MUN              NO_MUN_MIN SG_UF
0     2502003  BELEM DO BREJO DO CRUZ  Belém do Brejo do Cruz    PB
1     2502052      BERNARDINO BATISTA      Bernardino Batista    PB
2     2502102             BOA VENTURA             Boa Ventura    PB
3     2502151               BOA VISTA               Boa Vista    PB
4     2502201               BOM JESUS               Bom Jesus    PB

In [23]:
print(type(df_uf_mun))

<class 'pandas.core.frame.DataFrame'>

In [24]:
# Garantir que cd_pais seja string
df3 = df2['cd_mun'] = df2['cd_mun'].astype(str)
df_uf_mun['CO_MUN_GEO'] = df_uf_mun['CO_MUN_GEO'].astype(str)

# Fazer o merge para substituir os códigos pelos nomes dos países
df3 = df2.merge(df_uf_mun, left_on='cd_mun', right_on='CO_MUN_GEO', how='left')

# Exibir as primeiras linhas para verificar se deu certo
df3.head()

,sg_ufmun,cd_mun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR,NO_PAIS,CO_MUN_GEO,NO_MUN,NO_MUN_MIN,SG_UF
0,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,3106705,BETIM,Betim,MG
1,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,3106705,BETIM,Betim,MG
2,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,3106705,BETIM,Betim,MG
3,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,3106705,BETIM,Betim,MG
4,mg,3106705,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,3106705,BETIM,Betim,MG

In [25]:
print(df3.columns)

Index(['sg_ufmun', 'cd_mun', 'kg_liquido', 'vl_dolarfob',
       'data_exportacao_mun', 'NO_SH4_POR', 'NO_PAIS', 'CO_MUN_GEO', 'NO_MUN',
       'NO_MUN_MIN', 'SG_UF'],
      dtype='object')

In [26]:
df3 = df3.drop(columns=['cd_mun', 'CO_MUN_GEO', 'NO_MUN_MIN', 'SG_UF'])
df3.head()

,sg_ufmun,kg_liquido,vl_dolarfob,data_exportacao_mun,NO_SH4_POR,NO_PAIS,NO_MUN
0,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM
1,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM
2,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM
3,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM
4,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM

In [27]:
print(df3.columns)

Index(['sg_ufmun', 'kg_liquido', 'vl_dolarfob', 'data_exportacao_mun',
       'NO_SH4_POR', 'NO_PAIS', 'NO_MUN'],
      dtype='object')

In [29]:
df4 = df3.rename(columns={  
    'sg_ufmun': 'sg_ufmun', 
    'kg_liquido': 'kg_liquido', 
    'vl_dolarfob': 'vl_dolarfob', 
    'data_exportacao_mun': 'data_exportacao_mun',
    'NO_SH4_POR': 'cd_sh4', 
    'NO_PAIS': 'cd_pais', 
    'NO_MUN': 'cd_mun'
    
    })
df4.columns = df4.columns.str.strip().str.lower().str.replace(' ', '_')
df4.head()

,sg_ufmun,kg_liquido,vl_dolarfob,data_exportacao_mun,cd_sh4,cd_pais,cd_mun
0,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM
1,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM
2,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM
3,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM
4,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,Chile,BETIM

In [32]:
df4['cd_pais'] = df4['cd_pais'].str.lower()
df4['cd_mun'] = df4['cd_mun'].str.lower()
df4.head()

,sg_ufmun,kg_liquido,vl_dolarfob,data_exportacao_mun,cd_sh4,cd_pais,cd_mun
0,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,chile,betim
1,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,chile,betim
2,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,chile,betim
3,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,chile,betim
4,mg,3346,97359,2024-02-01,Partes e acessórios dos veículos automóveis da...,chile,betim

In [33]:
caminho = "/home/edcarlos/work_environment/datalake/silver/exportacao_mun_2024_m.csv"
df4.to_csv(caminho, index=False)
print("Arquivo salvo com sucesso!")

Arquivo salvo com sucesso!