In [2]:
import pandas as pd
# Caminho do arquivo
url_exp_2024 = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\landing\exportacao_2024.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df = pd.read_csv(url_exp_2024, sep=',')
# Exibir as primeiras linhas do DataFrame
df.head()

,cd_ncm,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao
0,94036000,11,245,sp,4,817600,8,425,20423,2024-04-01
1,87088000,11,493,sp,1,817800,418615,60355,470512,2024-11-01
2,2071400,10,173,sp,1,817800,94080,94080,237562,2024-03-01
3,90303390,11,158,mg,1,817800,10,12,1704,2024-04-01
4,40129090,10,158,sc,4,817700,26,26,950,2024-08-01

In [3]:
# Caminho do arquivo
url_pais = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\PAIS.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df = pd.read_csv(url_pais, sep=';',  encoding='latin1')  #encoding define como os caracteres são armazenados em um arquivo de texto, precisei colocar porque não reconheceu
# Exibir as primeiras linhas do DataFrame
df.head() #gosto de verificar como ficou as modificações, é sempre bom

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,0,898,ZZZ,Não Definido,Not defined,No definido
1,13,4,AFG,Afeganistão,Afghanistan,Afganistan
2,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas"
3,17,8,ALB,Albânia,Albania,Albania
4,20,724,ESP,"Alboran-Perejil, Ilhas","Alboran-Perejil, Islands","Alboran-Perejil, Islas"

In [4]:
def carregar_e_mesclar_arquivos(url_exp_2024: str, url_pais: str, 
                                chave_principal: str, chave_referencia: str, 
                                sep_principal: str = ',', sep_referencia: str = ';', 
                                encoding: str = 'latin1'):
    
    # Carregar os arquivos dentro da função
    df_exp_2024 = pd.read_csv(url_exp_2024, sep=sep_principal, encoding=encoding)
    df_pais = pd.read_csv(url_pais, sep=sep_referencia, encoding=encoding)

    # Garantir que as colunas de chave sejam strings
    df_exp_2024[chave_principal] = df_exp_2024[chave_principal].astype(str)
    df_pais[chave_referencia] = df_pais[chave_referencia].astype(str)

    # Realizar o merge
    df_resultado = df_exp_2024.merge(df_pais, left_on=chave_principal, right_on=chave_referencia, how='left')

    return df_resultado

# Exemplo de uso
df_1 = carregar_e_mesclar_arquivos(
    url_exp_2024=r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\landing\exportacao_2024.csv',
    url_pais=r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\PAIS.csv',
    chave_principal='cd_pais',
    chave_referencia='CO_PAIS'
)

# Exibir as primeiras linhas para verificar
df_1.head()

,cd_ncm,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,94036000,11,245,sp,4,817600,8,425,20423,2024-04-01,245,724,ESP,Espanha,Spain,España
1,87088000,11,493,sp,1,817800,418615,60355,470512,2024-11-01,493,484,MEX,México,Mexico,México
2,2071400,10,173,sp,1,817800,94080,94080,237562,2024-03-01,173,174,COM,Comores,Comoros,Comoras
3,90303390,11,158,mg,1,817800,10,12,1704,2024-04-01,158,152,CHL,Chile,Chile,Chile
4,40129090,10,158,sc,4,817700,26,26,950,2024-08-01,158,152,CHL,Chile,Chile,Chile

In [5]:
print(df_1.columns)

Index(['cd_ncm', 'cd_unidade', 'cd_pais', 'sg_ufncm', 'cd_via', 'cd_urf',
       'qt_estatistica', 'kg_liquido', 'vl_dolarfob', 'data_exportacao',
       'CO_PAIS', 'CO_PAIS_ISON3', 'CO_PAIS_ISOA3', 'NO_PAIS', 'NO_PAIS_ING',
       'NO_PAIS_ESP'],
      dtype='object')

In [6]:
df_1 = df_1.drop(columns=['cd_pais', 'CO_PAIS', 'CO_PAIS_ISON3', 
        'CO_PAIS_ISOA3', 'NO_PAIS_ING', 'NO_PAIS_ESP']) #o método é usado para remover colunas ou linhas do dataframe
df_1.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS
0,94036000,11,sp,4,817600,8,425,20423,2024-04-01,Espanha
1,87088000,11,sp,1,817800,418615,60355,470512,2024-11-01,México
2,2071400,10,sp,1,817800,94080,94080,237562,2024-03-01,Comores
3,90303390,11,mg,1,817800,10,12,1704,2024-04-01,Chile
4,40129090,10,sc,4,817700,26,26,950,2024-08-01,Chile

In [7]:
# Caminho do arquivo / apenas fiz a verificação das colunas que estavam no arquivo
url_urf = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\URF.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_urf = pd.read_csv(url_urf, sep=';',  encoding='latin1')  #caso esse encoding não funcionasse eu iria tentar 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_urf.head()

   CO_URF                                             NO_URF
0     910  0000910 - SEFAZ-SC - CONVENIO CONSULTA SISTEMA...
1  110100                                 0110100 - BRASILIA
2  117600      0117600 - AEROPORTO INTERNACIONAL DE BRASILIA
3  120100                                  0120100 - GOIANIA
4  120102                                  0120102 - CATALAO

In [8]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df_1 (base principal) e df_urf (referência) já estão definidos

# Mesclar os DataFrames
df_2 = mesclar_dataframes(df_base=df_1, df_referencia=df_urf, chave_base='cd_urf', chave_referencia='CO_URF')

# Exibir as primeiras linhas do DataFrame resultante
df_2.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,CO_URF,NO_URF
0,94036000,11,sp,4,817600,8,425,20423,2024-04-01,Espanha,817600,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...
1,87088000,11,sp,1,817800,418615,60355,470512,2024-11-01,México,817800,0817800 - PORTO DE SANTOS
2,2071400,10,sp,1,817800,94080,94080,237562,2024-03-01,Comores,817800,0817800 - PORTO DE SANTOS
3,90303390,11,mg,1,817800,10,12,1704,2024-04-01,Chile,817800,0817800 - PORTO DE SANTOS
4,40129090,10,sc,4,817700,26,26,950,2024-08-01,Chile,817700,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS

In [9]:
df_2 = df_2.drop(['cd_urf', 'CO_URF'], axis=1) #removendo as colunas com códigos
df_2.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF
0,94036000,11,sp,4,8,425,20423,2024-04-01,Espanha,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...
1,87088000,11,sp,1,418615,60355,470512,2024-11-01,México,0817800 - PORTO DE SANTOS
2,2071400,10,sp,1,94080,94080,237562,2024-03-01,Comores,0817800 - PORTO DE SANTOS
3,90303390,11,mg,1,10,12,1704,2024-04-01,Chile,0817800 - PORTO DE SANTOS
4,40129090,10,sc,4,26,26,950,2024-08-01,Chile,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS

In [10]:
# Caminho do arquivo
url_ncm = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\NCM.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_ncm = pd.read_csv(url_ncm, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_ncm.head()

,CO_NCM,CO_UNID,CO_SH6,CO_PPE,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC_CLASSE,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
0,49011000,10,490110,3521.0,3521.0,3.0,89215,322,9000.0,5811,8099.0,"Livros, brochuras e impressos semelhantes, em ...","Libros, folletos, impresos similares, en hojas...","Books, brochures, similar printed papers, in s..."
1,49019100,10,490191,3521.0,3521.0,3.0,89216,322,9000.0,5811,8099.0,"Dicionários e enciclopédias, mesmo em fascículos","Diccionarios y enciclopedias, incluso en fascí...","Dictionaries and encyclopaedias, serial instal..."
2,49019900,10,490199,3521.0,3521.0,3.0,89219,322,9000.0,5811,8099.0,"Outros livros, brochuras e impressos semelhantes","Otros libros, folletos y impresos similares","Oth.printed books, brochures and similar printed"
3,49021000,10,490210,3521.0,3521.0,3.0,89221,322,9000.0,5813,8099.0,"Jornais e publicações periódicas, impressos, m...","Diarios y publicaciones, impresos, periodo>=4 ...","Newspapers, journals, printed, periodical>=4 t..."
4,52102910,10,521029,3840.0,3840.0,3.0,65251,240,4000.0,1312,1605.0,Tecidos de algodão que contenham menos de 85 %...,"Tejidos de algodón, blanqueados, con fibras si...","Fabrics of cotton, bleached, synthetic or arti..."

In [11]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df2 (base principal) e df_uf_mun (referência) já estão definidos

# Mesclar os DataFrames
df_3 = mesclar_dataframes(df_base=df_2, df_referencia=df_ncm, chave_base='cd_ncm', chave_referencia='CO_NCM')

# Exibir as primeiras linhas do DataFrame resultante
df_3.head()

,cd_ncm,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF,...,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC_CLASSE,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
0,94036000,11,sp,4,8,425,20423,2024-04-01,Espanha,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,...,3341.0,3.0,82159,311,4000.0,3100,2500.0,Outros móveis de madeira,Los demás muebles de madera,Other wooden furniture
1,87088000,11,sp,1,418615,60355,470512,2024-11-01,México,0817800 - PORTO DE SANTOS,...,3450.0,3.0,78439,280,2000.0,2930,1002.0,Amortecedores de suspensão para tratores e veí...,Amortiguadores de suspensión p/tractores y veh...,Suspension shock-absorbers f/tractors and moto...
2,2071400,10,sp,1,94080,94080,237562,2024-03-01,Comores,0817800 - PORTO DE SANTOS,...,1990.0,1.0,01235,324,4000.0,1010,503.0,"Pedaços e miudezas, comestíveis de galos/galin...","Trozos y despojos comest.de gallo/gallina, con...","Fowls spec.gal.domest.cuts and offal, frozen"
3,90303390,11,mg,1,10,12,1704,2024-04-01,Chile,0817800 - PORTO DE SANTOS,...,3715.0,3.0,87475,110,1000.0,2651,2600.0,Outros aparelhos e instrumentos sem dispositiv...,Otros instrumentos y aparatos sin un dispositi...,Other instruments and appliances without a rec...
4,40129090,10,sc,4,26,26,950,2024-08-01,Chile,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,...,3040.0,3.0,62594,280,3000.0,2211,1008.0,"Protetores, bandas de rodagem, etc, para pneus...","Protectores, bandas rodadura, etc.p/neumáticos...","Protecting, bands wheelwork, etc.fortires of r..."

In [12]:
print(df_3.columns)

Index(['cd_ncm', 'cd_unidade', 'sg_ufncm', 'cd_via', 'qt_estatistica',
       'kg_liquido', 'vl_dolarfob', 'data_exportacao', 'NO_PAIS', 'NO_URF',
       'CO_NCM', 'CO_UNID', 'CO_SH6', 'CO_PPE', 'CO_PPI', 'CO_FAT_AGREG',
       'CO_CUCI_ITEM', 'CO_CGCE_N3', 'CO_SIIT', 'CO_ISIC_CLASSE',
       'CO_EXP_SUBSET', 'NO_NCM_POR', 'NO_NCM_ESP', 'NO_NCM_ING'],
      dtype='object')

In [13]:
#removendo colunas
df_3 = df_3.drop(columns=['cd_ncm', 
       'CO_NCM', 'CO_UNID', 'CO_SH6', 'CO_PPE', 'CO_PPI', 'CO_FAT_AGREG',
       'CO_CUCI_ITEM', 'CO_CGCE_N3', 'CO_SIIT', 'CO_ISIC_CLASSE',
       'CO_EXP_SUBSET', 'NO_NCM_ESP', 'NO_NCM_ING'])
df_3.head()

,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF,NO_NCM_POR
0,11,sp,4,8,425,20423,2024-04-01,Espanha,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,Outros móveis de madeira
1,11,sp,1,418615,60355,470512,2024-11-01,México,0817800 - PORTO DE SANTOS,Amortecedores de suspensão para tratores e veí...
2,10,sp,1,94080,94080,237562,2024-03-01,Comores,0817800 - PORTO DE SANTOS,"Pedaços e miudezas, comestíveis de galos/galin..."
3,11,mg,1,10,12,1704,2024-04-01,Chile,0817800 - PORTO DE SANTOS,Outros aparelhos e instrumentos sem dispositiv...
4,10,sc,4,26,26,950,2024-08-01,Chile,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,"Protetores, bandas de rodagem, etc, para pneus..."

In [14]:
# Caminho do arquivo
url_ncm_unidade = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\NCM_UNIDADE.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_ncm_unidade = pd.read_csv(url_ncm_unidade, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_ncm_unidade.head()

   CO_UNID             NO_UNID SG_UNID
0       10  QUILOGRAMA LIQUIDO   KGL
1       11    NUMERO (UNIDADE)   UNID.
2       12            MILHEIRO   MIL
3       13               PARES   PARES
4       14               METRO   M

In [15]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df2 (base principal) e df_uf_mun (referência) já estão definidos

# Mesclar os DataFrames
df_4 = mesclar_dataframes(df_base=df_3, df_referencia=df_ncm_unidade, chave_base='cd_unidade', chave_referencia='CO_UNID')

# Exibir as primeiras linhas do DataFrame resultante
df_4.head()

,cd_unidade,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF,NO_NCM_POR,CO_UNID,NO_UNID,SG_UNID
0,11,sp,4,8,425,20423,2024-04-01,Espanha,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,Outros móveis de madeira,11,NUMERO (UNIDADE),UNID.
1,11,sp,1,418615,60355,470512,2024-11-01,México,0817800 - PORTO DE SANTOS,Amortecedores de suspensão para tratores e veí...,11,NUMERO (UNIDADE),UNID.
2,10,sp,1,94080,94080,237562,2024-03-01,Comores,0817800 - PORTO DE SANTOS,"Pedaços e miudezas, comestíveis de galos/galin...",10,QUILOGRAMA LIQUIDO,KGL
3,11,mg,1,10,12,1704,2024-04-01,Chile,0817800 - PORTO DE SANTOS,Outros aparelhos e instrumentos sem dispositiv...,11,NUMERO (UNIDADE),UNID.
4,10,sc,4,26,26,950,2024-08-01,Chile,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,"Protetores, bandas de rodagem, etc, para pneus...",10,QUILOGRAMA LIQUIDO,KGL

In [16]:
print(df_4.columns)

Index(['cd_unidade', 'sg_ufncm', 'cd_via', 'qt_estatistica', 'kg_liquido',
       'vl_dolarfob', 'data_exportacao', 'NO_PAIS', 'NO_URF', 'NO_NCM_POR',
       'CO_UNID', 'NO_UNID', 'SG_UNID'],
      dtype='object')

In [17]:
#removendo colunas
df_4 = df_4.drop(columns=['cd_unidade',
       'CO_UNID', 'SG_UNID'])
df_4.head()

,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF,NO_NCM_POR,NO_UNID
0,sp,4,8,425,20423,2024-04-01,Espanha,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,Outros móveis de madeira,NUMERO (UNIDADE)
1,sp,1,418615,60355,470512,2024-11-01,México,0817800 - PORTO DE SANTOS,Amortecedores de suspensão para tratores e veí...,NUMERO (UNIDADE)
2,sp,1,94080,94080,237562,2024-03-01,Comores,0817800 - PORTO DE SANTOS,"Pedaços e miudezas, comestíveis de galos/galin...",QUILOGRAMA LIQUIDO
3,mg,1,10,12,1704,2024-04-01,Chile,0817800 - PORTO DE SANTOS,Outros aparelhos e instrumentos sem dispositiv...,NUMERO (UNIDADE)
4,sc,4,26,26,950,2024-08-01,Chile,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,"Protetores, bandas de rodagem, etc, para pneus...",QUILOGRAMA LIQUIDO

In [18]:
# Caminho do arquivo
url_via = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\VIA.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_via = pd.read_csv(url_via, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_via.head()

   CO_VIA               NO_VIA
0      99     VIA DESCONHECIDA
1      13          POR REBOQUE
2      11              COURIER
3      15  VICINAL FRONTEIRICO
4      14                DUTOS

In [19]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df2 (base principal) e df_uf_mun (referência) já estão definidos

# Mesclar os DataFrames
df_5 = mesclar_dataframes(df_base=df_4, df_referencia=df_via, chave_base='cd_via', chave_referencia='CO_VIA')

# Exibir as primeiras linhas do DataFrame resultante
df_5.head()

,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF,NO_NCM_POR,NO_UNID,CO_VIA,NO_VIA
0,sp,4,8,425,20423,2024-04-01,Espanha,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,Outros móveis de madeira,NUMERO (UNIDADE),4,AEREA
1,sp,1,418615,60355,470512,2024-11-01,México,0817800 - PORTO DE SANTOS,Amortecedores de suspensão para tratores e veí...,NUMERO (UNIDADE),1,MARITIMA
2,sp,1,94080,94080,237562,2024-03-01,Comores,0817800 - PORTO DE SANTOS,"Pedaços e miudezas, comestíveis de galos/galin...",QUILOGRAMA LIQUIDO,1,MARITIMA
3,mg,1,10,12,1704,2024-04-01,Chile,0817800 - PORTO DE SANTOS,Outros aparelhos e instrumentos sem dispositiv...,NUMERO (UNIDADE),1,MARITIMA
4,sc,4,26,26,950,2024-08-01,Chile,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,"Protetores, bandas de rodagem, etc, para pneus...",QUILOGRAMA LIQUIDO,4,AEREA

In [20]:
#removendo colunas
df_5 = df_5.drop(columns=['cd_via', 'CO_VIA'])
df_5.head()

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,NO_PAIS,NO_URF,NO_NCM_POR,NO_UNID,NO_VIA
0,sp,8,425,20423,2024-04-01,Espanha,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,Outros móveis de madeira,NUMERO (UNIDADE),AEREA
1,sp,418615,60355,470512,2024-11-01,México,0817800 - PORTO DE SANTOS,Amortecedores de suspensão para tratores e veí...,NUMERO (UNIDADE),MARITIMA
2,sp,94080,94080,237562,2024-03-01,Comores,0817800 - PORTO DE SANTOS,"Pedaços e miudezas, comestíveis de galos/galin...",QUILOGRAMA LIQUIDO,MARITIMA
3,mg,10,12,1704,2024-04-01,Chile,0817800 - PORTO DE SANTOS,Outros aparelhos e instrumentos sem dispositiv...,NUMERO (UNIDADE),MARITIMA
4,sc,26,26,950,2024-08-01,Chile,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,"Protetores, bandas de rodagem, etc, para pneus...",QUILOGRAMA LIQUIDO,AEREA

In [21]:
print(df_5.columns)

Index(['sg_ufncm', 'qt_estatistica', 'kg_liquido', 'vl_dolarfob',
       'data_exportacao', 'NO_PAIS', 'NO_URF', 'NO_NCM_POR', 'NO_UNID',
       'NO_VIA'],
      dtype='object')

In [22]:
#as colunas precisavam ser renomeadas para ficar com o mesmo padrão
df_5 = df_5.rename(columns={  
  'NO_PAIS': 'cd_pais', 
  'NO_URF': 'cd_urf', 
  'NO_NCM_POR': 'cd_ncm', 
  'NO_UNID': 'cd_unidade',
  'NO_VIA': 'cd_via'
    
    })
df_5.columns = df_5.columns.str.strip().str.lower().str.replace(' ', '_')
df_5.head()

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm,cd_unidade,cd_via
0,sp,8,425,20423,2024-04-01,Espanha,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,Outros móveis de madeira,NUMERO (UNIDADE),AEREA
1,sp,418615,60355,470512,2024-11-01,México,0817800 - PORTO DE SANTOS,Amortecedores de suspensão para tratores e veí...,NUMERO (UNIDADE),MARITIMA
2,sp,94080,94080,237562,2024-03-01,Comores,0817800 - PORTO DE SANTOS,"Pedaços e miudezas, comestíveis de galos/galin...",QUILOGRAMA LIQUIDO,MARITIMA
3,mg,10,12,1704,2024-04-01,Chile,0817800 - PORTO DE SANTOS,Outros aparelhos e instrumentos sem dispositiv...,NUMERO (UNIDADE),MARITIMA
4,sc,26,26,950,2024-08-01,Chile,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS,"Protetores, bandas de rodagem, etc, para pneus...",QUILOGRAMA LIQUIDO,AEREA

In [23]:
def padronizar_colunas(df, colunas):
    """
    Remove espaços extras e converte os valores das colunas especificadas para minúsculas.

    Parâmetros:
        df (pd.DataFrame): DataFrame de entrada.
        colunas (list): Lista de colunas a serem padronizadas.

    Retorna:
        pd.DataFrame: DataFrame com as colunas padronizadas.
    """
    df[colunas] = df[colunas].apply(lambda x: x.str.strip().str.lower())
    return df

df_5 = padronizar_colunas(df_5, ['cd_pais', 'cd_urf', 'cd_ncm', 'cd_unidade', 'cd_via'])
df_5.head()

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,data_exportacao,cd_pais,cd_urf,cd_ncm,cd_unidade,cd_via
0,sp,8,425,20423,2024-04-01,espanha,0817600 - aeroporto internacional de sao paulo...,outros móveis de madeira,numero (unidade),aerea
1,sp,418615,60355,470512,2024-11-01,méxico,0817800 - porto de santos,amortecedores de suspensão para tratores e veí...,numero (unidade),maritima
2,sp,94080,94080,237562,2024-03-01,comores,0817800 - porto de santos,"pedaços e miudezas, comestíveis de galos/galin...",quilograma liquido,maritima
3,mg,10,12,1704,2024-04-01,chile,0817800 - porto de santos,outros aparelhos e instrumentos sem dispositiv...,numero (unidade),maritima
4,sc,26,26,950,2024-08-01,chile,0817700 - aeroporto internacional de viracopos,"protetores, bandas de rodagem, etc, para pneus...",quilograma liquido,aerea

In [24]:
caminho = "/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/silver/exportacao_2024_m.csv" #salvando o arquivo
df_5.to_csv(caminho, index=False)
print("Arquivo salvo com sucesso!")

Arquivo salvo com sucesso!