In [1]:
import pandas as pd
# Caminho do arquivo
url_imp_2024 = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\landing\importacao_2024.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df = pd.read_csv(url_imp_2024, sep=',')
# Exibir as primeiras linhas do DataFrame
df.head()

,cd_ncm,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao
0,84818092,11,161,sc,1,927800,344,90,6823,77,10,2024-10-01
1,90304090,11,249,sp,4,817700,1,9,4890,147,7,2024-04-01
2,39172300,10,23,pe,4,417901,1128,1128,28129,20688,7,2024-01-01
3,85444200,10,160,mg,4,817700,824,824,66958,11276,45,2024-06-01
4,84439942,10,190,sc,4,817600,3,3,2060,37,0,2024-10-01

In [2]:
# Caminho do arquivo
url_ncm = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\NCM.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_ncm = pd.read_csv(url_ncm, sep=';', encoding='latin1')
# Exibir as primeiras linhas do DataFrame
df_ncm.head()

,CO_NCM,CO_UNID,CO_SH6,CO_PPE,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC_CLASSE,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
0,49011000,10,490110,3521.0,3521.0,3.0,89215,322,9000.0,5811,8099.0,"Livros, brochuras e impressos semelhantes, em ...","Libros, folletos, impresos similares, en hojas...","Books, brochures, similar printed papers, in s..."
1,49019100,10,490191,3521.0,3521.0,3.0,89216,322,9000.0,5811,8099.0,"Dicionários e enciclopédias, mesmo em fascículos","Diccionarios y enciclopedias, incluso en fascí...","Dictionaries and encyclopaedias, serial instal..."
2,49019900,10,490199,3521.0,3521.0,3.0,89219,322,9000.0,5811,8099.0,"Outros livros, brochuras e impressos semelhantes","Otros libros, folletos y impresos similares","Oth.printed books, brochures and similar printed"
3,49021000,10,490210,3521.0,3521.0,3.0,89221,322,9000.0,5813,8099.0,"Jornais e publicações periódicas, impressos, m...","Diarios y publicaciones, impresos, periodo>=4 ...","Newspapers, journals, printed, periodical>=4 t..."
4,52102910,10,521029,3840.0,3840.0,3.0,65251,240,4000.0,1312,1605.0,Tecidos de algodão que contenham menos de 85 %...,"Tejidos de algodón, blanqueados, con fibras si...","Fabrics of cotton, bleached, synthetic or arti..."

In [3]:
def carregar_e_mesclar_arquivos(url_imp_2024: str, url_ncm: str, 
                                chave_principal: str, chave_referencia: str, 
                                sep_principal: str = ',', sep_referencia: str = ';', 
                                encoding: str = 'latin1'):
    
    # Carregar os arquivos dentro da função
    df_imp_2024 = pd.read_csv(url_imp_2024, sep=sep_principal, encoding=encoding)
    df_ncm = pd.read_csv(url_ncm, sep=sep_referencia, encoding=encoding)

    # Garantir que as colunas de chave sejam strings
    df_imp_2024[chave_principal] = df_imp_2024[chave_principal].astype(str)
    df_ncm[chave_referencia] = df_ncm[chave_referencia].astype(str)

    # Realizar o merge
    df_resultado = df_imp_2024.merge(df_ncm, left_on=chave_principal, right_on=chave_referencia, how='left')

    return df_resultado

# Exemplo de uso
df_1 = carregar_e_mesclar_arquivos(
    url_imp_2024=r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\landing\importacao_2024.csv',
    url_ncm=r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\NCM.csv',
    chave_principal='cd_ncm',
    chave_referencia='CO_NCM'
)

# Exibir as primeiras linhas para verificar
df_1.head()

,cd_ncm,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,...,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC_CLASSE,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
0,84818092,11,161,sc,1,927800,344,90,6823,77,...,3857.0,3.0,7478,270,2000.0,2813,914.0,Válvulas solenóides,Válvulas solenoides,Solenoid valves
1,90304090,11,249,sp,4,817700,1,9,4890,147,...,3715.0,3.0,87477,110,1000.0,2651,2600.0,Outros instrumentos e aparelhos para telecomun...,Los demás instrumentos y aparatos p/telecomuni...,"Other instruments and apparatus,for telecommun..."
2,39172300,10,23,pe,4,417901,1128,1128,28129,20688,...,3717.0,3.0,5812,240,3000.0,2220,1407.0,"Tubo rígido, de polímeros de cloreto de vinila","Tubo rígido, de polímeros de cloruro de vinilo","Rigid tubes, of polymers of vinyl chloride"
3,85444200,10,160,mg,4,817700,824,824,66958,11276,...,3268.0,3.0,77316,240,2000.0,2732,1104.0,"Outros condutores elétricos tensão <= 100 v, c...",Otros conductores eléctricos p/ tension <=100v...,"Other electric conductors f/tension<=100v, wit..."
4,84439942,10,190,sc,4,817600,3,3,2060,37,...,3372.0,3.0,75197,270,2000.0,2829,2600.0,Outras cabeças de impressão,Otros cabezales de impresión,Other print heads

In [4]:
print(df_1.columns) #verificar colunas

Index(['cd_ncm', 'cd_unidade', 'cd_pais', 'sg_ufncm', 'cd_via', 'cd_urf',
       'qt_estatistica', 'kg_liquido', 'vl_dolarfob', 'vl_frete', 'vl_seguro',
       'data_importacao', 'CO_NCM', 'CO_UNID', 'CO_SH6', 'CO_PPE', 'CO_PPI',
       'CO_FAT_AGREG', 'CO_CUCI_ITEM', 'CO_CGCE_N3', 'CO_SIIT',
       'CO_ISIC_CLASSE', 'CO_EXP_SUBSET', 'NO_NCM_POR', 'NO_NCM_ESP',
       'NO_NCM_ING'],
      dtype='object')

In [5]:
#remover colunas
df_1 = df_1.drop(columns=['cd_ncm', 'CO_NCM', 'CO_UNID', 'CO_SH6', 'CO_PPE', 'CO_PPI', 'CO_FAT_AGREG', 'CO_CUCI_ITEM', 'CO_CGCE_N3', 'CO_SIIT', 'CO_ISIC_CLASSE', 'CO_EXP_SUBSET', 'NO_NCM_ESP', 'NO_NCM_ING'])
df_1.head()

,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR
0,11,161,sc,1,927800,344,90,6823,77,10,2024-10-01,Válvulas solenóides
1,11,249,sp,4,817700,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...
2,10,23,pe,4,417901,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila"
3,10,160,mg,4,817700,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c..."
4,10,190,sc,4,817600,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão

In [6]:
# Caminho do arquivo
url_urf = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\URF.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_urf = pd.read_csv(url_urf, sep=';',  encoding='latin1')  # Ou tente 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_urf.head()

   CO_URF                                             NO_URF
0     910  0000910 - SEFAZ-SC - CONVENIO CONSULTA SISTEMA...
1  110100                                 0110100 - BRASILIA
2  117600      0117600 - AEROPORTO INTERNACIONAL DE BRASILIA
3  120100                                  0120100 - GOIANIA
4  120102                                  0120102 - CATALAO

In [7]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df_1 (base principal) e df_urf (referência) já estão definidos

# Mesclar os DataFrames
df_1 = mesclar_dataframes(df_base=df_1, df_referencia=df_urf, chave_base='cd_urf', chave_referencia='CO_URF')

# Exibir as primeiras linhas do DataFrame resultante
df_1.head()

,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR,CO_URF,NO_URF
0,11,161,sc,1,927800,344,90,6823,77,10,2024-10-01,Válvulas solenóides,927800,0927800 - ITAJAI
1,11,249,sp,4,817700,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,817700,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS
2,10,23,pe,4,417901,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",417901,0417901 - IRF - AEROPORTO INTERNACIONAL DOS GU...
3,10,160,mg,4,817700,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",817700,0817700 - AEROPORTO INTERNACIONAL DE VIRACOPOS
4,10,190,sc,4,817600,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,817600,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...

In [8]:
# Etapa 1: Extrair o código da coluna NO_URF
df_1['urf_codigo'] = df_1['NO_URF'].str.extract(r'^(\d+)\s*-\s*')

# Etapa 2: Remover o código e deixar só as informações
df_1['urf_info'] = df_1['NO_URF'].str.replace(r'^\d+\s*-\s*', '', regex=True)

# Etapa 3: Separar tipo e nome, se existir
def separar_info(valor):
    partes = valor.split(' - ')
    if len(partes) == 2:
        tipo, nome = partes
    else:
        tipo = None
        nome = valor
    return pd.Series([tipo, nome])

df_1[['urf_tipo', 'urf_nome']] = df_1['urf_info'].apply(separar_info)

# Etapa 4: Limpar colunas temporárias
df_1.drop(columns=['NO_URF', 'urf_info'], inplace=True)
df_1.head()

,cd_unidade,cd_pais,sg_ufncm,cd_via,cd_urf,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR,CO_URF,urf_codigo,urf_tipo,urf_nome
0,11,161,sc,1,927800,344,90,6823,77,10,2024-10-01,Válvulas solenóides,927800,0927800,None,ITAJAI
1,11,249,sp,4,817700,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,817700,0817700,None,AEROPORTO INTERNACIONAL DE VIRACOPOS
2,10,23,pe,4,417901,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",417901,0417901,IRF,AEROPORTO INTERNACIONAL DOS GUARARAPES
3,10,160,mg,4,817700,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",817700,0817700,None,AEROPORTO INTERNACIONAL DE VIRACOPOS
4,10,190,sc,4,817600,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,817600,0817600,None,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS

In [9]:
df_1 = df_1.drop(['cd_urf', 'CO_URF', 'urf_codigo', 'urf_tipo'], axis=1) #removendo as colunas com códigos
df_1.head()

,cd_unidade,cd_pais,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR,urf_nome
0,11,161,sc,1,344,90,6823,77,10,2024-10-01,Válvulas solenóides,ITAJAI
1,11,249,sp,4,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,AEROPORTO INTERNACIONAL DE VIRACOPOS
2,10,23,pe,4,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",AEROPORTO INTERNACIONAL DOS GUARARAPES
3,10,160,mg,4,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",AEROPORTO INTERNACIONAL DE VIRACOPOS
4,10,190,sc,4,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS

In [10]:
# Caminho do arquivo
url_via = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\VIA.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_via = pd.read_csv(url_via, sep=';',  encoding='latin1')  # Ou tente 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_via.head()

   CO_VIA               NO_VIA
0      99     VIA DESCONHECIDA
1      13          POR REBOQUE
2      11              COURIER
3      15  VICINAL FRONTEIRICO
4      14                DUTOS

In [11]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df2 (base principal) e df_uf_mun (referência) já estão definidos

# Mesclar os DataFrames
df_2 = mesclar_dataframes(df_base=df_1, df_referencia=df_via, chave_base='cd_via', chave_referencia='CO_VIA')

# Exibir as primeiras linhas do DataFrame resultante
df_2.head()

,cd_unidade,cd_pais,sg_ufncm,cd_via,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR,urf_nome,CO_VIA,NO_VIA
0,11,161,sc,1,344,90,6823,77,10,2024-10-01,Válvulas solenóides,ITAJAI,1,MARITIMA
1,11,249,sp,4,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,AEROPORTO INTERNACIONAL DE VIRACOPOS,4,AEREA
2,10,23,pe,4,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",AEROPORTO INTERNACIONAL DOS GUARARAPES,4,AEREA
3,10,160,mg,4,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",AEROPORTO INTERNACIONAL DE VIRACOPOS,4,AEREA
4,10,190,sc,4,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,4,AEREA

In [12]:
df_2 = df_2.drop(['cd_via', 'CO_VIA'], axis=1) #removendo colunas
df_2.head()

,cd_unidade,cd_pais,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR,urf_nome,NO_VIA
0,11,161,sc,344,90,6823,77,10,2024-10-01,Válvulas solenóides,ITAJAI,MARITIMA
1,11,249,sp,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA
2,10,23,pe,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",AEROPORTO INTERNACIONAL DOS GUARARAPES,AEREA
3,10,160,mg,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA
4,10,190,sc,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,AEREA

In [13]:
# Caminho do arquivo
url_pais = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\PAIS.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_pais = pd.read_csv(url_pais, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_pais.head()

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,0,898,ZZZ,Não Definido,Not defined,No definido
1,13,4,AFG,Afeganistão,Afghanistan,Afganistan
2,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas"
3,17,8,ALB,Albânia,Albania,Albania
4,20,724,ESP,"Alboran-Perejil, Ilhas","Alboran-Perejil, Islands","Alboran-Perejil, Islas"

In [14]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df2 (base principal) e df_uf_mun (referência) já estão definidos

# Mesclar os DataFrames
df_3 = mesclar_dataframes(df_base=df_2, df_referencia=df_pais, chave_base='cd_pais', chave_referencia='CO_PAIS')

# Exibir as primeiras linhas do DataFrame resultante
df_3.head()

,cd_unidade,cd_pais,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR,urf_nome,NO_VIA,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,11,161,sc,344,90,6823,77,10,2024-10-01,Válvulas solenóides,ITAJAI,MARITIMA,161,158,TWN,Taiwan (Formosa),Taiwan,Taiwán
1,11,249,sp,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,249,840,USA,Estados Unidos,United States,Estados Unidos
2,10,23,pe,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",AEROPORTO INTERNACIONAL DOS GUARARAPES,AEREA,23,276,DEU,Alemanha,Germany,Alemania
3,10,160,mg,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,160,156,CHN,China,China,China
4,10,190,sc,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,AEREA,190,410,KOR,Coreia do Sul,South Korea,Corea (Sur)

In [15]:
print(df_3.columns) #verificando colunas

Index(['cd_unidade', 'cd_pais', 'sg_ufncm', 'qt_estatistica', 'kg_liquido',
       'vl_dolarfob', 'vl_frete', 'vl_seguro', 'data_importacao', 'NO_NCM_POR',
       'urf_nome', 'NO_VIA', 'CO_PAIS', 'CO_PAIS_ISON3', 'CO_PAIS_ISOA3',
       'NO_PAIS', 'NO_PAIS_ING', 'NO_PAIS_ESP'],
      dtype='object')

In [16]:
#removendo colunas
df_3 = df_3.drop(columns=['cd_pais', 'CO_PAIS', 'CO_PAIS_ISON3',
       'CO_PAIS_ISOA3', 'NO_PAIS_ING', 'NO_PAIS_ESP'])
df_3.head()

,cd_unidade,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR,urf_nome,NO_VIA,NO_PAIS
0,11,sc,344,90,6823,77,10,2024-10-01,Válvulas solenóides,ITAJAI,MARITIMA,Taiwan (Formosa)
1,11,sp,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,Estados Unidos
2,10,pe,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",AEROPORTO INTERNACIONAL DOS GUARARAPES,AEREA,Alemanha
3,10,mg,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,China
4,10,sc,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,AEREA,Coreia do Sul

In [17]:
# Caminho do arquivo
url_ncm_unidade = r'\\wsl$\Ubuntu\home\edcarlos\Data-Analytics-Comercio-Exterior\datalake\raw_data\NCM_UNIDADE.csv' #foi nomeado dessa forma porque não encontrou o arquivo porque está no wsl2
# Lendo o CSV para um DataFrame
df_ncm_unidade = pd.read_csv(url_ncm_unidade, sep=';',  encoding='latin1')  # Ou 'ISO-8859-1'
# Exibir as primeiras linhas do DataFrame
df_ncm_unidade.head()

   CO_UNID             NO_UNID SG_UNID
0       10  QUILOGRAMA LIQUIDO   KGL
1       11    NUMERO (UNIDADE)   UNID.
2       12            MILHEIRO   MIL
3       13               PARES   PARES
4       14               METRO   M

In [18]:
# Função para mesclar os DataFrames já carregados
def mesclar_dataframes(df_base: pd.DataFrame, df_referencia: pd.DataFrame, 
                       chave_base: str, chave_referencia: str) -> pd.DataFrame:
    """
    Realiza a junção (merge) entre a base principal e o DataFrame de referência.
    """
    # Garantir que as colunas usadas no merge sejam strings
    df_base[chave_base] = df_base[chave_base].astype(str)
    df_referencia[chave_referencia] = df_referencia[chave_referencia].astype(str)

    # Realizar o merge
    df_resultante = df_base.merge(df_referencia, left_on=chave_base, right_on=chave_referencia, how='left')
    
    return df_resultante

# Exemplo de aplicação da função

# Já carregados anteriormente
# df2 (base principal) e df_uf_mun (referência) já estão definidos

# Mesclar os DataFrames
df_4 = mesclar_dataframes(df_base=df_3, df_referencia=df_ncm_unidade, chave_base='cd_unidade', chave_referencia='CO_UNID')

# Exibir as primeiras linhas do DataFrame resultante
df_4.head()

,cd_unidade,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR,urf_nome,NO_VIA,NO_PAIS,CO_UNID,NO_UNID,SG_UNID
0,11,sc,344,90,6823,77,10,2024-10-01,Válvulas solenóides,ITAJAI,MARITIMA,Taiwan (Formosa),11,NUMERO (UNIDADE),UNID.
1,11,sp,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,Estados Unidos,11,NUMERO (UNIDADE),UNID.
2,10,pe,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",AEROPORTO INTERNACIONAL DOS GUARARAPES,AEREA,Alemanha,10,QUILOGRAMA LIQUIDO,KGL
3,10,mg,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,China,10,QUILOGRAMA LIQUIDO,KGL
4,10,sc,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,AEREA,Coreia do Sul,10,QUILOGRAMA LIQUIDO,KGL

In [19]:
print(df_4.columns)

Index(['cd_unidade', 'sg_ufncm', 'qt_estatistica', 'kg_liquido', 'vl_dolarfob',
       'vl_frete', 'vl_seguro', 'data_importacao', 'NO_NCM_POR', 'urf_nome',
       'NO_VIA', 'NO_PAIS', 'CO_UNID', 'NO_UNID', 'SG_UNID'],
      dtype='object')

In [20]:
#removendo colunas
df_4 = df_4.drop(columns=['cd_unidade', 'CO_UNID', 'SG_UNID'])
df_4.head()

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,NO_NCM_POR,urf_nome,NO_VIA,NO_PAIS,NO_UNID
0,sc,344,90,6823,77,10,2024-10-01,Válvulas solenóides,ITAJAI,MARITIMA,Taiwan (Formosa),NUMERO (UNIDADE)
1,sp,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,Estados Unidos,NUMERO (UNIDADE)
2,pe,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",AEROPORTO INTERNACIONAL DOS GUARARAPES,AEREA,Alemanha,QUILOGRAMA LIQUIDO
3,mg,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,China,QUILOGRAMA LIQUIDO
4,sc,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,AEREA,Coreia do Sul,QUILOGRAMA LIQUIDO

In [21]:
print(df_4.columns)

Index(['sg_ufncm', 'qt_estatistica', 'kg_liquido', 'vl_dolarfob', 'vl_frete',
       'vl_seguro', 'data_importacao', 'NO_NCM_POR', 'urf_nome', 'NO_VIA',
       'NO_PAIS', 'NO_UNID'],
      dtype='object')

In [22]:
#renomeando colunas
df_4 = df_4.rename(columns={  
    'NO_NCM_POR': 'cd_ncm',
    'urf_nome': 'cd_urf',
    'NO_VIA': 'cd_via',
    'NO_PAIS': 'cd_pais',
    'NO_UNID': 'cd_unidade'
    })
df_4.columns = df_4.columns.str.strip().str.lower().str.replace(' ', '_')
df_4.head()

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,cd_ncm,cd_urf,cd_via,cd_pais,cd_unidade
0,sc,344,90,6823,77,10,2024-10-01,Válvulas solenóides,ITAJAI,MARITIMA,Taiwan (Formosa),NUMERO (UNIDADE)
1,sp,1,9,4890,147,7,2024-04-01,Outros instrumentos e aparelhos para telecomun...,AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,Estados Unidos,NUMERO (UNIDADE)
2,pe,1128,1128,28129,20688,7,2024-01-01,"Tubo rígido, de polímeros de cloreto de vinila",AEROPORTO INTERNACIONAL DOS GUARARAPES,AEREA,Alemanha,QUILOGRAMA LIQUIDO
3,mg,824,824,66958,11276,45,2024-06-01,"Outros condutores elétricos tensão <= 100 v, c...",AEROPORTO INTERNACIONAL DE VIRACOPOS,AEREA,China,QUILOGRAMA LIQUIDO
4,sc,3,3,2060,37,0,2024-10-01,Outras cabeças de impressão,AEROPORTO INTERNACIONAL DE SAO PAULO/GUARULHOS,AEREA,Coreia do Sul,QUILOGRAMA LIQUIDO

In [23]:
def padronizar_colunas(df, colunas):
    """
    Remove espaços extras e converte os valores das colunas especificadas para minúsculas.

    Parâmetros:
        df (pd.DataFrame): DataFrame de entrada.
        colunas (list): Lista de colunas a serem padronizadas.

    Retorna:
        pd.DataFrame: DataFrame com as colunas padronizadas.
    """
    df[colunas] = df[colunas].apply(lambda x: x.str.strip().str.lower())
    return df

df_4 = padronizar_colunas(df_4, ['cd_ncm', 'cd_urf', 'cd_via', 'cd_pais', 'cd_unidade'])
df_4.head()

,sg_ufncm,qt_estatistica,kg_liquido,vl_dolarfob,vl_frete,vl_seguro,data_importacao,cd_ncm,cd_urf,cd_via,cd_pais,cd_unidade
0,sc,344,90,6823,77,10,2024-10-01,válvulas solenóides,itajai,maritima,taiwan (formosa),numero (unidade)
1,sp,1,9,4890,147,7,2024-04-01,outros instrumentos e aparelhos para telecomun...,aeroporto internacional de viracopos,aerea,estados unidos,numero (unidade)
2,pe,1128,1128,28129,20688,7,2024-01-01,"tubo rígido, de polímeros de cloreto de vinila",aeroporto internacional dos guararapes,aerea,alemanha,quilograma liquido
3,mg,824,824,66958,11276,45,2024-06-01,"outros condutores elétricos tensão <= 100 v, c...",aeroporto internacional de viracopos,aerea,china,quilograma liquido
4,sc,3,3,2060,37,0,2024-10-01,outras cabeças de impressão,aeroporto internacional de sao paulo/guarulhos,aerea,coreia do sul,quilograma liquido

In [24]:
caminho = "/home/edcarlos/Data-Analytics-Comercio-Exterior/datalake/silver/importacao_2024_m.csv" #salvando o arquivo
df_4.to_csv(caminho, index=False)
print("Arquivo salvo com sucesso!")

Arquivo salvo com sucesso!